<a href="https://colab.research.google.com/github/dparedes1313/MOJIX_BOOTCAMP_2/blob/main/TEMPLATE_Bootcamp2_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!pip install pandasql

In [ ]:
import pandas as pd
#from pandasql import sqldf
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [ ]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

# Pandas

## Exercise 1
Using pandas
Retrieve from df dataframe the number of cases and deaths in South America Countries.  (Hint: Use groupby by continent and location)

In [ ]:
# Add your solution here
# df[df[]].groupby()....

df.groupby(["continent", "location"]).sum()[["new_cases", "new_deaths"]]

                            new_cases  new_deaths
continent     location
Africa        Algeria        269473.0      6878.0
              Angola         102636.0      1920.0
              Benin           27525.0       163.0
              Botswana       325824.0      2774.0
              Burkina Faso    21128.0       387.0
...                               ...         ...
South America Paraguay       712907.0     19357.0
              Peru          4040440.0    215824.0
              Suriname        81007.0      1382.0
              Uruguay        975285.0      7429.0
              Venezuela      540796.0      5787.0

[231 rows x 2 columns]

## Exercise 2
Using pandas

1.  Create a new column called "class_life_expectancy" and classify life_expectancy column in 5 values:
  - 1_less_than_55
  - 2_between_55_and_64
  - 3_between_65_and_74
  - 4_equal_greater_than_75
  - 5_other
2.  Get the sum of new_deaths grouped by class_life_expectancy

In [ ]:
df['class_life_expectancy'] = "5_other"
df.loc[ df["life_expectancy"]<55 , "class_life_expectancy" ] = "1_less_than_55"
df.loc[ (df["life_expectancy"]>=55) & (df["life_expectancy"]<=64) , "class_life_expectancy" ] = "2_between_55_and_64"
df.loc[ (df["life_expectancy"]>=65) & (df["life_expectancy"]<=74) , "class_life_expectancy" ] = "3_between_65_and_74"
df.loc[ (df["life_expectancy"]>=75) , "class_life_expectancy" ] = "4_equal_greater_than_75"

In [ ]:
df.sample(10)

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,class_life_expectancy
65526,FIN,Europe,Finland,2021-03-18,70321.0,743.0,702.857,837.0,3.0,2.429,...,22.6,NaN,3.28,81.91,0.938,NaN,NaN,NaN,NaN,4_equal_greater_than_75
107619,LBY,Africa,Libya,2021-09-15,327803.0,1433.0,1176.429,4469.0,12.0,13.571,...,NaN,NaN,3.70,72.91,0.724,NaN,NaN,NaN,NaN,3_between_65_and_74
131421,NPL,Asia,Nepal,2020-02-22,1.0,0.0,0.000,NaN,NaN,NaN,...,37.8,47.782,0.30,70.78,0.602,NaN,NaN,NaN,NaN,3_between_65_and_74
189605,TTO,North America,Trinidad and Tobago,2020-08-25,1252.0,153.0,89.000,15.0,0.0,0.429,...,NaN,89.443,3.00,73.51,0.796,NaN,NaN,NaN,NaN,3_between_65_and_74
42938,CRI,North America,Costa Rica,2021-01-01,169321.0,0.0,904.429,2185.0,0.0,14.143,...,17.4,83.841,1.13,80.28,0.810,NaN,NaN,NaN,NaN,4_equal_greater_than_75
47432,CYP,Europe,Cyprus,2021-01-31,31227.0,113.0,126.143,198.0,0.0,2.000,...,52.7,NaN,3.40,80.98,0.887,343.9,4.98,7.86,383.813966,4_equal_greater_than_75
19178,BLZ,North America,Belize,2020-08-24,713.0,27.0,34.000,10.0,4.0,0.857,...,NaN,90.083,1.30,74.62,0.716,NaN,NaN,NaN,NaN,5_other
115274,MYS,Asia,Malaysia,2020-04-28,5851.0,31.0,52.714,100.0,1.0,1.143,...,42.4,NaN,1.90,76.16,0.810,NaN,NaN,NaN,NaN,4_equal_greater_than_75
177303,ESP,Europe,Spain,2021-06-29,3799733.0,7091.0,4434.571,80829.0,40.0,15.714,...,31.4,NaN,2.97,83.56,0.904,NaN,NaN,NaN,NaN,4_equal_greater_than_75
154441,QAT,Asia,Qatar,2022-04-14,363258.0,119.0,122.000,677.0,0.0,0.000,...,26.9,NaN,1.20,80.23,0.848,NaN,NaN,NaN,NaN,4_equal_greater_than_75

In [ ]:
df.groupby("class_life_expectancy").sum()[["new_deaths"]]

                         new_deaths
class_life_expectancy
1_less_than_55               4288.0
2_between_55_and_64         32556.0
3_between_65_and_74       7924193.0
4_equal_greater_than_75   4650771.0
5_other                  14132768.0

## Exercise 3 (Inventory Discrepancy)


- Remove dups
- Aggregate
- Merge 2 datasets

In [ ]:
df_expected = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Expected.csv", encoding="latin-1", dtype=str)

In [ ]:
df_counted = pd.read_csv("https://storage.googleapis.com/mojix-devops-wildfire-bucket/analytics/bootcamp_2_0/Bootcamp_DataAnalysis_Counted.csv", encoding="latin-1", dtype=str)

In [ ]:
df_expected.sample(2).T

,435,2145
Retail_Clearance,false,false
Retail_InTransitQTY,0,0
Retail_Product_Color,JEANS,ROSA
Retail_Product_Dimension,NaVal,NaVal
Retail_Product_ExternalSKU,NaVal,NaVal
Retail_Product_ImageURL,NaVal,NaVal
Retail_Product_Level1,C,C
Retail_Product_Level1Name,VESTUARIO,VESTUARIO
Retail_Product_Level2,NaVal,NaVal
Retail_Product_Level2Name,C8,CJ
Retail_Product_Level3,C8C,NaVal
Retail_Product_Level3Name,C8C,CJA
Retail_Product_Level4,C8CDA,NaVal
Retail_Product_Level4Name,C8CD,CJAK
Retail_Product_Level5,C8 JUVA,CJ
Retail_Product_Level5Name,C8CDA,CJAKL
Retail_Product_Manufacturer,NaVal,NaVal
Retail_Product_Name,VESTIDO SEM MANGA C8 PRD JUVA INK 3 MARI,CALCINHA CJ SLO ELLA HANK PANK LISO ROSA
Retail_Product_RFIDTagged,NaVal,NaVal
Retail_Product_SKU,9405930003,9644120005
Retail_Product_Size,14,M
Retail_Product_Style,INTEIRO,KIT CALCINHA
Retail_Product_UOM,NaVal,NaVal
Retail_Product_UPC,00094059300310,00096441200574
Retail_Product_UPCs,00094059300310,00096441200574
Retail_SFMax,0,0
Retail_SFMin,0,0
Retail_SOHDate,2022-08-16 07:00:36.468,2022-08-16 07:00:36.468
Retail_SOHQTY,1,2
Retail_SOHQTY_SF,1,2
Retail_SOHQTY_SR,0,0
Retail_StoreInProcess,0,0
Retail_StoreNumber,233,233
serial,233_009405930003,233_009644120005
thingTypeId,384,384

In [ ]:
df_expected.shape

(3187, 35)

In [ ]:
df_expected["Retail_Product_SKU"].nunique()

3187

COUNTED TRANSFORMATION

In [ ]:
df_counted.sample(2).T

,5006,1778
RFID,303405ECC44E28828FA6AEB5,303405B2740003C28FA6B19D
Retail_CycleCountDate,2022-08-16 12:38:45.155,2022-08-16 12:31:32.768
Retail_CycleCountDate_ts,1660653525155,1660653092768
Retail_Disposition,SELLABLE_ACCESSIBLE,SELLABLE_ACCESSIBLE
Retail_Product_Color,AZUL,VINHO
Retail_Product_ImageURL,NaN,NaN
Retail_Product_Level1,C,C
Retail_Product_Level1Name,VESTUARIO,VESTUARIO
Retail_Product_Level2,NaN,NaN
Retail_Product_Level2Name,CR,CW
Retail_Product_Level3,CRA,CWA
Retail_Product_Level3Name,CRA,CWA
Retail_Product_Name,CALCINHA CR SLO ELLA ESTAMPADO AZUL P AZ,BLUSAO MANGA LONGA CW SLO VIVA BASICO MO
Retail_Product_SKU,9707380003,9334100001
Retail_Product_Size,P,G
Retail_Product_Style,KIT CALCINHA,BLUSA MOLETOM
Retail_Product_UOM,NaN,NaN
Retail_Product_UPC,00097073800347,00093341000150
Retail_StoreNumber,233,233
Retail_ZoneName,233_SALESFLOOR,233_SALESFLOOR
Retail_ZoneType,SALESFLOOR,SALESFLOOR
shardId,23,23
viz_groupCode,NaN,NaN
viz_groupId,23,23
viz_id,23.356.14348719642405812,23.356.13527800479603162
viz_serialNumber,303405ECC44E28828FA6AEB5,303405B2740003C28FA6B19D
viz_source,MOBILE,MOBILE
viz_thingTypeCode,ITEM,ITEM
viz_time,2022-08-16 12:38:45.155,2022-08-16 12:31:32.768

In [ ]:
df_counted.shape

(7924, 29)

In [ ]:
df_counted['RFID'].nunique()

7712

In [ ]:
df_counted = df_counted.drop_duplicates("RFID")

In [ ]:
df_B = df_counted.groupby("Retail_Product_SKU").count()[["RFID"]].reset_index().rename(columns={"RFID":"Retail_CCQTY"})

In [ ]:
df_B.sample(10)

     Retail_Product_SKU  Retail_CCQTY
198          8505660006             2
2943         9624620002             3
3719         9692930004             1
1023         9395770004             1
2207         9530620001             1
2704         9583820001             1
2442         9561520003             1
1279         9418080003             1
2142         9525950004             1
1900         9490500002             1

In [ ]:
my_cols_selected = ["Retail_Product_Color",
"Retail_Product_Level1",
"Retail_Product_Level1Name",
"Retail_Product_Level2Name",
"Retail_Product_Level3Name",
"Retail_Product_Level4Name",
"Retail_Product_Name",
"Retail_Product_SKU",
"Retail_Product_Size",
"Retail_Product_Style",
"Retail_SOHQTY"]

In [ ]:
df_A = df_expected[my_cols_selected]

In [ ]:
df_A.head().T

,0,1,2,3,4
Retail_Product_Color,BRANCO,ROSA,NaN,JEANS,JEANS
Retail_Product_Level1,C,C,H,C,C
Retail_Product_Level1Name,VESTUARIO,VESTUARIO,ELETRO-ELETRONICOS,VESTUARIO,VESTUARIO
Retail_Product_Level2Name,CR,CY,HZ,CY,CY
Retail_Product_Level3Name,CRB,CYA,HZB,CYA,CYC
Retail_Product_Level4Name,CRBK,CYAE,HZBO,CYAA,CYCD
Retail_Product_Name,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,CALCA JEANS CF MSA INK USED TANK DIRT LI,SHORT JEANS PS PRD BARRA DOBRADA E PREGA
Retail_Product_SKU,9568860004,9384260002,9735510000,9579550002,9633210004
Retail_Product_Size,P,40,NaN,38,52
Retail_Product_Style,KIT CALCINHA,BOTTOM CURTO SARJA,KIT FEMININO PRATA,CALÇA JEANS,BOTTOM CURTO JEANS PLUS
Retail_SOHQTY,1,3,1,3,2

In [ ]:
df_discrepancy = pd.merge(df_A, df_B, how="outer", left_on="Retail_Product_SKU", right_on="Retail_Product_SKU", indicator=True)

In [ ]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1.0,both
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1.0,both
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1.0,both
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÇA JEANS,3,3.0,both
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,NaN,left_only

In [ ]:
df_discrepancy['Retail_CCQTY'] = df_discrepancy['Retail_CCQTY'].fillna(0)

In [ ]:
df_discrepancy["Retail_CCQTY"] = df_discrepancy["Retail_CCQTY"].astype(int)

In [ ]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1,both
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1,both
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1,both
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÇA JEANS,3,3,both
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,0,left_only

In [ ]:
df_discrepancy.dtypes

Retail_Product_Color           object
Retail_Product_Level1          object
Retail_Product_Level1Name      object
Retail_Product_Level2Name      object
Retail_Product_Level3Name      object
Retail_Product_Level4Name      object
Retail_Product_Name            object
Retail_Product_SKU             object
Retail_Product_Size            object
Retail_Product_Style           object
Retail_SOHQTY                  object
Retail_CCQTY                    int64
_merge                       category
dtype: object

In [ ]:
df_discrepancy["Retail_SOHQTY"] = df_discrepancy["Retail_SOHQTY"].fillna(0).astype(int)

In [ ]:
df_discrepancy["Diff"] = df_discrepancy["Retail_CCQTY"] - df_discrepancy["Retail_SOHQTY"]

In [ ]:
df_discrepancy.head()

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,Diff
0,BRANCO,C,VESTUARIO,CR,CRB,CRBK,CALCINHA CR SLO ELLA ESTAMPADO CINZA P B,9568860004,P,KIT CALCINHA,1,1,both,0
1,ROSA,C,VESTUARIO,CY,CYA,CYAE,BERMUDA SARJA CRN SLO INK ABERTURA BARRA,9384260002,40,BOTTOM CURTO SARJA,3,1,both,-2
2,NaN,H,ELETRO-ELETRONICOS,HZ,HZB,HZBO,RELOGIO FEM MONDAINE PRATA KIT COLAR ANA,9735510000,NaN,KIT FEMININO PRATA,1,1,both,0
3,JEANS,C,VESTUARIO,CY,CYA,CYAA,CALCA JEANS CF MSA INK USED TANK DIRT LI,9579550002,38,CALÇA JEANS,3,3,both,0
4,JEANS,C,VESTUARIO,CY,CYC,CYCD,SHORT JEANS PS PRD BARRA DOBRADA E PREGA,9633210004,52,BOTTOM CURTO JEANS PLUS,2,0,left_only,-2

In [ ]:
df_discrepancy.loc[df_discrepancy["Diff"]<0, "Unders"] = df_discrepancy["Diff"] * (-1)

In [ ]:
df_discrepancy["Unders"] = df_discrepancy["Unders"].fillna(0).astype(int)

In [ ]:
df_discrepancy.sample(10)

,Retail_Product_Color,Retail_Product_Level1,Retail_Product_Level1Name,Retail_Product_Level2Name,Retail_Product_Level3Name,Retail_Product_Level4Name,Retail_Product_Name,Retail_Product_SKU,Retail_Product_Size,Retail_Product_Style,Retail_SOHQTY,Retail_CCQTY,_merge,Diff,Unders
329,NaN,W,BELEZA,WA,WAC,WACP,COLONIA DESODORANTE FEMININA ELIANA CRIS,8686750000,NaN,PERFUME,17,17,both,0,0
844,NaN,W,BELEZA,WB,WBX,WBXA,SOLAR WB VULT COMB AG PR SOL CPOFAC FPS,9032760000,NaN,PROTETOR SOLAR AUSTRALIAN GOLD,2,1,both,-1,1
227,DOURADO,C,VESTUARIO,C5,C5A,C5AA,OCULOS C5 MSA MAIS ACESSORIOS ACE FEM D,9683690001,UNICO,ÓCULOS ACETATO,1,1,both,0,0
4927,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9645890001,NaN,NaN,0,2,right_only,2,0
5056,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9660200003,NaN,NaN,0,1,right_only,1,0
3396,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9300120001,NaN,NaN,0,2,right_only,2,0
557,PRETO,C,VESTUARIO,CY,CYA,CYAA,CALCA CY SAW EVT LAN MARCA DE TERCEIROS,9703690002,38,CALÇA JEANS,2,1,both,-1,1
1848,PRETO,C,VESTUARIO,C7,C7A,C7AK,CALC TG BAS KIT 2X1 PTO ROXO LIV C7 G PR,8516990003,G,KIT CALCINHA,1,0,left_only,-1,1
3201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7667500006,NaN,NaN,0,3,right_only,3,0
2769,BEGE,C,VESTUARIO,CJ,CJA,CJAB,CALCINHA SLO ELLA CHAMPAGNE LISO BEGE G,9637520001,G,CALCINHA / BOTTOM,4,0,left_only,-4,4

In [ ]:
df_discrepancy.groupby("Retail_Product_Level1Name").sum()

                           Retail_SOHQTY  Retail_CCQTY  Diff  Unders
Retail_Product_Level1Name
BELEZA                               729           647   -82      84
ELETRO-ELETRONICOS                   206           193   -13      14
VESTUARIO                           6376          2891 -3485    3516

In [ ]:
df_discrepancy.describe()

       Retail_SOHQTY  Retail_CCQTY         Diff       Unders
count    5179.000000   5179.000000  5179.000000  5179.000000
mean        1.411662      1.447191     0.035528     0.697818
std         2.283006      1.624474     2.359921     1.742616
min         0.000000      0.000000   -62.000000     0.000000
25%         0.000000      0.000000    -1.000000     0.000000
50%         1.000000      1.000000     0.000000     0.000000
75%         2.000000      2.000000     1.000000     1.000000
max        67.000000     32.000000    16.000000    62.000000

In [ ]:
df_discrepancy.shape

(5179, 15)

In [ ]:
df_discrepancy[df_discrepancy["Diff"].isnull()]

Empty DataFrame
Columns: [Retail_Product_Color, Retail_Product_Level1, Retail_Product_Level1Name, Retail_Product_Level2Name, Retail_Product_Level3Name, Retail_Product_Level4Name, Retail_Product_Name, Retail_Product_SKU, Retail_Product_Size, Retail_Product_Style, Retail_SOHQTY, Retail_CCQTY, _merge, Diff, Unders]
Index: []